$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$red: #d14348;
$purple: #6d73c2;
$font: Arial, 'Helvetica', sans-serif;
$color-item-border: $red;
$color-media-head: $purple;

